	COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
source/Makefile
source/Makefile.in
source/cm/.deps/
source/cm/.libs/
source/cm/Makefile
source/cm/Makefile.in
source/cm/libhalcm.la
source/cm/libhalcm_la-cm_hal.lo
source/cm/libhalcm_la-cm_hal.o
source/moca/.deps/
source/moca/.libs/
source/moca/Makefile
source/moca/Makefile.in
source/moca/libhalmoca.la
source/moca/libhalmoca_la-moca_hal.lo
source/moca/libhalmoca_la-moca_hal.o
source/mta/.deps/
source/mta/.libs/
source/mta/Makefile
source/mta/Makefile.in
source/mta/libhalmta.la
source/mta/libhalmta_la-mta_hal.lo
source/mta/libhalmta_la-mta_hal.o
source/wifi/.deps/
source/wifi/.libs/
source/wifi/Makefile
source/wifi/Makefile.in
source/wifi/libhalwifi.la
source/wifi/libhalwifi_la-wifi_hal.lo
source/wifi/libhalwifi_la-wifi_hal.o
stamp-h1
COPYING
