.deps
*~
*.o
*.la
*.lo
.libs
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
Makefile
Makefile.in
stamp-h1
source/dhcpv4c/devices_rpi
source/dhcpv4c/devices_turris
source/ethsw/devices_rpi
source/ethsw/devices_turris
source/platform/devices_rpi
source/platform/devices_turris
source/wifi/devices_rpi
